.cabecalho{
background-color: #383D58;
color: white;
display: flex;
justify-content: space-around ;
}
.Lua{
    width: 600px;
    position: relative;
    top: 5px;
    left: 20px;
}
.cabecalho-lista-item{
    display: inline-block;
}
